.main {
  background-color: rgb(2, 6, 33);
  background-image: url(/static/img/HomePage/bg.png);
  color: white;
  padding: 2% 15%;
  height: 90vh;
}

.title {
  text-align: center;
  font-size: 1.25rem;
}

/* 核心功能各部分标题 */
.indicatorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 2% 0;
  padding: 0;
}

.indicatorItem {
  margin: 0 1%;
}

.indicatorButton {
  width: 9vw;
  height: 3.34vw;
  line-height: 1.67vw;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  border: none;
}

.indicatorButtonActive {
  width: 9vw;
  height: 3.34vw;
  line-height: 1.67vw;
  display: flex;
  justify-content: center;
  color: #fff;
  background-color: transparent;
  opacity: 1;
  box-sizing: border-box;
  border: 1px solid rgb(56, 99, 248);
  border-radius: 1.67vw;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

/* 核心功能各部分图片 */
.carouselItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 60vh; */
  background: linear-gradient(108deg, #00114E 0%, #621DBA 48%, #DCF2FF 100%);
}

.left {
  width: 20vw;
  padding: 0 4.69vw 0 2.86vw;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.itemTitle {
  display: flex;
  font-size: 1.15vw;
  color: #e8eaf5;
}

.itemSubTitle {
  display: flex;
  font-size: 1vw;
  color: #e8eaf5;
}

.itemDesc {
  display: flex;
  font-size: 0.83vw;
  line-height: 1.5625vw;
  margin-top: 1.46vw;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.right img {
  margin: 2% 0 2% 2%;
  height: auto;
  color-scheme: light;
  overflow-clip-margin: content-box;
  text-align: center;
}